h1{
font-size: 30px;
text-align: center;
color: #155dec
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}
h2{
font-size: 30px;
text-align: center;
color: #e72ecf
}
body {
background-color: #abd31a;
}